@import "../../styles/fonts";
@import "../../styles/variables";
@import "../../styles/mixins";

.blogpost {
  @include page-layout();
  display: flex;
  flex-direction: column;
  margin-top: 100px;

  h1 {
    max-width: 850px;
    text-align: center;
    align-self: center;
    font-size: 58px;
    font-weight: 600;
    font-family: "Calibre", sans-serif;
  }
  .blogpost-info {
    align-self: center;
    font-weight: 200;
    font-size: 14px;
    margin-bottom: 40px;
    .name {
      font-size: 14px;
      color: $dark-grey;
      margin-right: 10px;
    }
    .date {
      font-size: 14px;
      color: $cyan;
    }
  }
  .img-container {
    height: 400px;
    width: 100%;
    margin-bottom: 40px;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  .blogpost-body {
    p,
    h2 {
      font-family: "Calibre", sans-serif;
    }

    h2 {
      font-size: 40px;
      font-weight: 600;
      &:not(:first-child) {
        margin-top: 20px;
      }
    }
    p {
      font-size: 24px;
      font-weight: 300;
      line-height: 1.5;
    }
  }
}

@include media($mobile-width) {
  .blogpost {
    margin-left: $mobile-margin;
    margin-right: $mobile-margin;
  }
}
@include media(420px) {
  .blogpost {
    .blogpost-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 7px;
    }
    .dot {
      display: none;
    }
  }
}
