@font-face {
  font-family: "SFMono";
  src: local("SFMono"),
    url(./assets/fonts/SFMono/SF-Mono-Light.otf) format("opentype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "SFMono";
  src: local("SFMono"),
    url(./assets/fonts/SFMono/SF-Mono-Regular.otf) format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "SFMono";
  src: local("SFMono"),
    url(./assets/fonts/SFMono/SF-Mono-Semibold.otf) format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SFMono";
  src: local("SFMono"),
    url(./assets/fonts/SFMono/SF-Mono-Bold.otf) format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Calibre";
  src: local("calibre"),
    url(./assets/fonts/Calibre/CalibreRegular.otf) format("opentype");
  font-weight: normal;
  font-style: normal;
}
