$darker-blue: #0b192e;
$dark-blue: #122240;
$light-grey: #ccd6f6;
$dark-grey: #8892af;
$cyan: #64ffda;

$content-margin-sides: 1rem;
$nav-height: 5rem;
$layout-padding-horizontal: 89px;
$layout-padding-vertical: 20px;
