@import "../../styles/fonts";
@import "../../styles/variables";
@import "../../styles/mixins";

.projects {
  @include page-layout();
  max-width: 1000px;
  align-self: center;
  justify-self: center;
}
