@import "../../styles/fonts";
@import "../../styles/variables";
@import "../../styles/mixins";

.blog-container {
  .blog-card {
    background-color: $dark-blue;
    box-shadow: 0px 5px 17px 0px rgba(0, 0, 0, 0.22);
    min-height: 351px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    &:hover > .blog-card-content {
      h2 {
        color: $cyan;
        transition: color 0.2s ease-in-out;
      }
    }
    .img-container {
      height: 192px;
      width: 100%;
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    .blog-card-content {
      padding: 3%;
      display: flex;
      flex-direction: column;
      flex: 1;

      h2 {
        font-family: "Calibre", sans-serif;
        font-size: 26px;
        font-weight: 500;
        color: $light-grey;
        text-decoration: none;
      }
      .meta-description {
        font-family: "Calibre", sans-serif;

        font-weight: 400;
        font-size: 18px;
        color: $dark-grey;
        margin-top: 5px;
        flex: 1;
        color: $dark-grey;
        text-decoration: none;
      }
      ul {
        display: flex;
        flex-wrap: wrap;

        margin-top: 20px;
        margin-bottom: 10px;
        list-style: none;
        justify-self: flex-end;
        li {
          font-family: "SFMono", sans-serif;
          font-size: 12px;
          color: $dark-grey;
          font-weight: 200;
          margin-right: 20px;
        }
      }
      .blog-card-date {
        font-family: "SFMono", sans-serif;
        font-size: 13px;
        color: $cyan;
        font-weight: 200;
      }
    }
  }
}
@include media(696px) {
  .blog-container {
    .blog-card {
      .blog-card-content {
        padding: 5%;
        h2 {
          font-size: 18px;
        }
      }
    }
  }
}
